@import "./variables";


@mixin center($direction) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin default-spacings() {
	padding: 12px 16px;

	@media screen and (min-width: $md-screen) {
		padding: 20px 44px;
	}
}
