@import "./variables";


@mixin center($direction) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $direction;
}

@mixin default-spacings() {
	padding: 12px 16px;
}

@mixin field-default-styles() {
	border-radius: 8px;
	border: none;
	outline: none;
	padding: 12px;
	font-size: 0.9rem;
	color: $font-color;
	font-family: $main-font-family;
	background-color: $util-color-900;
}
