$background-color: #090909;
$font-color: #F2F2F2;

$brand-color-50: #faf5ff;
$brand-color-100: #f2e8ff;
$brand-color-200: #e8d4ff;
$brand-color-300: #d6b3ff;
$brand-color-400: #bd82fe;
$brand-color-500: #a352fa;
$brand-color-600: #9740ef;
$brand-color-700: #791fd1;
$brand-color-800: #671eab;
$brand-color-900: #551a89;

$util-color-50: #f7f7f7;
$util-color-100: #e3e3e3;
$util-color-200: #c8c8c8;
$util-color-300: #a4a4a4;
$util-color-400: #818181;
$util-color-500: #666666;
$util-color-600: #515151;
$util-color-700: #434343;
$util-color-800: #383838;
$util-color-900: #242424;

$main-font-family: "Poppins", sans-serif;;
